<div class="row" id="header__container">
  <div class="col-lg-12 text-center">
    <div id="header__logo__container">
      <img src="images/logo.png" alt="Logo Bellas Cejas" id="header__logo" />
    </div>
  </div>
</div>
