<nav class="navbar navbar-secondary bg-secondary">
  <div class="container">
    <span class="navbar-text font-italic text-center ml-auto">
    <a href="" id="numberbar__a"> Llama +56 9 9042 2712</a>
  </div>
  </span>
</nav>
