<div class="row" id="servicios">
  <div class="col-md-12 p-5">
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="images/microblading_card.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Microblading</h5>
          <p class="card-text text-justify">
            Embellece tus cejas con la ultima tecnica de maquillaje
            semipermanente, sin dolor, con resultados garantizados
          </p>
          <button type="button" class="btn btn-primary">Reserva</button>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="images/pestanas_card.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Extensiones de pestañas</h5>
          <p class="card-text text-justify">
            Tu miranda es lo mas importante y unas pestañas abundantes cambiaran
            tu look naturalmente. Con efecto 2D, 3D, 4D y hasta 7D.
          </p>
          <button type="button" class="btn btn-primary">Reserva</button>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="images/limpieza_card.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Limpieza facial</h5>
          <p class="card-text text-justify">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This card has even longer content than the
            first to show that equal height action.
          </p>
          <button type="button" class="btn btn-primary">Reserva</button>
        </div>
      </div>
    </div>
  </div>
</div>
