<div class="row" id="servicios">
  <div class="col-md-12 p-5 text-center">
    <h2 class="mb-5">Servicios</h2>
    <div class="card-group">
      <div class="card">
        <img
          class="card-img-top"
          src="images/microblading_card.jpg"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Microblading</h5>
          <p class="card-text text-justify">
            Embellece tus cejas con la ultima tecnica de maquillaje
            semipermanente, sin dolor, con resultados garantizados
          </p>
          <a
            href="https://bellascejas.setmore.com"
            target="_blank"
            class="mt-auto"
          >
            <button type="button" class="btn btn-primary">Reserva</button>
          </a>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="images/pestanas_card.jpg"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Extensiones de pestañas</h5>
          <p class="card-text text-justify">
            Tu miranda es lo mas importante y unas pestañas abundantes cambiaran
            tu look naturalmente. Con efecto 2D, 3D, 4D y hasta 7D.
          </p>
          <a
            href="https://bellascejas.setmore.com"
            target="_blank"
            class="mt-auto"
          >
            <button type="button" class="btn btn-primary">Reserva</button>
          </a>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="images/limpieza_card.jpg"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Tratamientos Faciales</h5>
          <p class="card-text text-justify">
            Tratamientos especiales para cuidar tu rostro y dejarlo radiante.
          </p>
          <a
            href="https://bellascejas.setmore.com"
            target="_blank"
            class="mt-auto"
          >
            <button type="button" class="btn btn-primary">
              Reserva
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
