<!DOCTYPE html>
<html>
  <% include partials/allpages/head %>
  <body>
    <!-- prettier-ignore -->
    <% include partials/allpages/numberbar %>
    <% include partials/allpages/navbar %>
    <div class="container">
      <div class="row">
        <div class="col-12 p-5 text-center">
          <i class="fas fa-user-check" style="font-size: 5em;"></i>
          <h2>Muchas gracias por tu compra</h2>
          <br />
          <br />
          <br />
          <p>
            Comunicate con nosotros para presentar tu comprobante de pago y asi
            recibir tus credenciales para iniciar tu curso si adquiriste la
            version online o si adquiriste los cursos pro, registrarte en el
            curso 👇👇👇
          </p>
          <br />
          <br />
          <br />
          <a href="#">
            <button type="button" class="btn btn-success btn-lg btn-block">
              Envianos un mensaje
            </button>
          </a>
        </div>
      </div>
    </div>
    <!-- prettier-ignore -->
    <% include partials/allpages/footer %> 
    <% include partials/allpages/scripts %>
  </body>
</html>
