<!DOCTYPE html>
<html>
  <% include partials/allpages/head %>
  <body>
    <!-- prettier-ignore -->
    <% include partials/allpages/numberbar %>
    <% include partials/allpages/navbar %>
    <% include partials/header %>
    <div class="container">
      <!-- prettier-ignore -->
      <% include partials/servicios %>
      <% include partials/cursos %>
    </div>
    <!-- prettier-ignore -->
    <% include partials/allpages/footer %> 
    <% include partials/allpages/scripts %>
  </body>
</html>
