<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <!-- prettier-ignore -->
    <% include partials/numberbar %>
    <% include partials/navbar %>
    <% include partials/header %>
    <div class="container">
      <!-- prettier-ignore -->
      <% include partials/servicios %>
    </div>
    <!-- prettier-ignore -->
    <% include partials/footer %> 
    <% include partials/scripts %>
  </body>
</html>
