<nav class="navbar navbar-info bg-info">
    <div class="container">
      <span class="navbar-text font-italic text-center ml-auto mr-auto text-lg">
      <a href="tel:+56990422712" id="numberbar__a" style='font-size: large;'> <strong>Llama +56 9 9042 2712</strong></a>
    </div>
    </span>
  </nav>