<nav class="navbar navbar-secondary bg-secondary">
  <div class="container">
    <span class="navbar-text font-italic text-center ml-auto mr-auto">
    <a href="tel:+56990422712" id="numberbar__a" style='font-size: large;'> Llama +56 9 9042 2712</a>
  </div>
  </span>
</nav>
